  <head>
    <meta content='text/html; charset=UTF-8', http-equiv='Content-Type' />
  </head>
    <h1>
      Here is your receipt for your movie ticket purchase
    </h1>
    <p>
      Movie: <%= @title %>
    </p>
    <p>
      Showtime: <%= @time %>
    </p>
    <p>
      Auditorium: <%= @auditorium %>
    </p>

